/* Ekstra stiller */

/* 
/// İçerik Tablosu ///
  -Sıfırlama
  -Linkler
  -Yerleşim
  -...
*/
[data-question], #suggestions {
  list-style: none;
}

[data-answer] {
  width: 200px;
  margin: 2px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
[data-answer]:hover {
  background: #e0e0e0
}

[data-result] {
  width: 200px;
  margin: 2px;
  padding: 12px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 4px;
  background: rgb(0, 140, 255);
  text-align: center;
  color: white;
}

body {
  overflow-x: hidden;
}

.slideOut {
  position: relative;
  animation-name: slideOut;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes slideOut {
  from {left: 0px}
  to {left: -20px; opacity: 0;}
}

.slideIn {
  position: relative;
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes slideIn {
  from {left: 0px}
  to {left: 20px; opacity: 0;}
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1;}
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes fadeOut {
  from {opacity: 0}
  to {opacity: 1;}
}